

 ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #412611;
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
}
 header {
     height: 150px;
     background-color: #E7D2C1;
 }
