.sectionuno {
    margin:auto;
    margin-top:200px;
    display: flex;
    width: 80%;
    align-items: center;

    .section-uno-a {
        width: 50%;
        height:auto;
        font-family: 'Roboto Slab', serif; 
        padding-right: 10px;
         
        .parrafo-uno {
            padding-top: 20px;
            padding-left: 100px;
            font-size: 3rem;
            color: #935F3C;
        }

        @media (min-width: 1080px) and (max-width: 1460px){
            .parrafo-uno {
              font-size: 1.7rem;
              padding-top: 100px;
            } 
        }

        @media (min-width: 840px) and (max-width: 1079px) {
            .parrafo-uno {
              font-size: 1.5rem;
              padding-top: 150px;
        }
        }

        @media (min-width: 600px) and (max-width: 839px) {
            .parrafo-uno {
                font-size: 1rem;
                padding-top: 150px;
        }
        }

        @media (min-width: 320px) and (max-width: 600px) {
            .parrafo-uno {
                font-size: 1.5rem;
                width: 100%;
                margin-top: 230px;
                padding: 0;
                margin-bottom: 50px;
                text-align: center;
                
        }
        }

        .boton-uno {
            margin: 80px; 
            margin-left: 100px;
            font-size: 1.2rem;
            width:250px;
            height:70px;
            cursor:pointer;
            border:groove #935F3C;
            background-color:  #F8F3EA;   
            color: #516555;
            font-family: 'Roboto Slab', serif;

            &:hover{
            background-color: #C7D7C6;
            }
        }

        @media (min-width: 840px) and (max-width: 1079px) {
            .boton-uno {
                width:200px;
                height:50px;
        }
        } 
        
        @media (min-width: 600px) and (max-width: 839px) {
            .boton-uno {
                width:160px;
                height:50px;
                margin-bottom: 200px;
        }
        }

        @media (min-width: 320px) and (max-width: 600px) {
            .boton-uno {
                width:130px;
                height:40px;
                margin-bottom: 100px;   
                font-size: 0.9rem;
                margin-left: 20px;
                margin-top: -20px;
        }
        }

        @media (min-width: 320px) and (max-width: 600px) {
            .boton-uno {
                width:200px;
                height:80px;
                font-size: 1.3rem;
                display: block;
                margin: auto;
            
               
        }
        }
    }

    @media (min-width: 320px) and (max-width: 600px) {
        .section-uno-a {
            width: 100%;     
    }
    }

    .section-uno-b {
        width: 50%;
        height: auto;

        .imagen-seccion-tartaleta{
            margin: auto;
            display: block;
            max-width: 100%;
            height: auto;
            border: 1px solid #bf743c;
        }
        
        @media (min-width: 320px) and (max-width: 600px) {
            .imagen-seccion-tartaleta{
                margin: auto;
                display: block;
                max-width: 80%;
                
        }
        }
    }

    @media (min-width: 320px) and (max-width: 600px) {
        .section-uno-b {
            width: 100%;
            margin-top: 50px;     
    }
    }
}

@media (min-width: 600px) and (max-width: 839px) {
    .sectionuno {
        width:100%;
    }     
}

@media (min-width: 320px) and (max-width: 600px) {
    .sectionuno  {
        width: 100%;
        margin-top: 180px;
        height: 260px;
        display: inline;
        background-color: #516555;
              
}
}