.empresa {
    width: 90%;
    height:250px;
    margin:auto;
    margin-top:40px;
    border:groove #935F3C;
    background-color: #516555;   
    color: #C7D7C6;
}

@media (min-width: 600px) and (max-width: 839px) {
    .empresa {
        height:200px;
        margin-top: -40px;
    }     
}

@media (min-width: 320px) and (max-width: 600px) {
    .empresa {
        height:auto;
        
    }     
  } 


@media (min-width: 1080px) and (max-width: 1460px){
    h1 {
        font-size: 2rem;        
    } 
}

@media (min-width: 840px) and (max-width: 1079px) {
    h1 {
      font-size: 1.8rem;    
    }
}

@media (min-width: 0px) and (max-width: 839px) {
    h1 {
        font-size: 1.4rem;
    }     
}



.empresa-p{
    text-align: center;
    font-size: 2rem;
    padding-top:20px;
}

@media (min-width: 1080px) and (max-width: 1460px){
.empresa-p {
        font-size: 1.5rem;
        padding: 10px;        
    } 
}
    
@media (min-width: 840px) and (max-width: 1079px) {
        .empresa-p {
        font-size: 1.5rem;    
    }
}  

@media (min-width: 600px) and (max-width: 839px) {
    .empresa-p {
        font-size: 1.2rem;
    }     
}

@media (min-width: 320px) and (max-width: 600px) {
    .empresa-p {
        font-size: 1rem;
    }     
  } 