/* ------------------------- */
/* pagina postres con sus respectivos productos trabajado con grid */
/* ------------------------- */

.postres-productos {
    margin-top:180px; 
    margin-bottom: 120px;
    display: grid;
    height: auto;
    grid-template-areas: 
    "titulo-postres titulo-postres titulo-postres titulo-postres"
    "foto-postres foto-postres postre1 postre2"
    "foto-postres foto-postres postre3 postre4"
    "postre6 postre7 none none";
   grid-template-columns: 18% 18% 28% 28%;
   grid-template-rows: 100px auto auto auto;
   grid-column-gap: 20px;
   grid-row-gap: 40px;
   justify-content: center;

    .titulo-postres{
    grid-area: titulo-postres;
    background-color:#516555;
    text-align: center;
    font-size: 2rem;
    padding-top:30px;
    font-family: 'Roboto Slab', serif;
    color: #C7D7C6;
    border: 1px solid #bf743c;
      
    }

    @media (min-width: 320px) and (max-width: 600px) {
        .titulo-postres {
          padding-top:10px;
        }
      }


    .foto-postres {
       grid-area: foto-postres;
       align-self: center;
       justify-self: center;

        .img-postres-principal {
         max-width: 100%;
         display: block;
         margin: auto;
         border-radius: 10%;
         box-shadow: 0px 1px 15px;
         border: 1px solid #bf743c;
        }

        @media (min-width: 320px) and (max-width: 600px) {
            .img-postres-principal {
              max-width: 90%; 
            }
          }
    }

    .postre1 {
       grid-area: postre1;
       justify-self:center;
       

       #boton-brownie{
        display: block;
         margin:auto;
         margin-top:2px;
         margin-bottom: 15px;
         height: 40px;
         width: 120px;
  
          &:hover{
             background-color: #C7D7C6;
           } 
        }  
    }
     
     
    .postre2 {
        grid-area: postre2;
        justify-self:center;

        #boton-cremoso{
         display: block;
         margin:auto;
         margin-top:2px;
         margin-bottom: 15px;
         height: 40px;
         width: 120px;
      
            &:hover{
             background-color: #C7D7C6;
            } 
        }
        
    }
    
    .postre3 {
        grid-area: postre3;
        justify-self: center;

        #boton-mousse{
         display: block;
         margin:auto;
         margin-top:2px;
         margin-bottom: 15px;
         height: 40px;
         width: 120px;
      
            &:hover{
             background-color: #C7D7C6;
            } 
        }
        
    }
    
    .postre4 {
        grid-area: postre4;
        justify-self: center;

        #boton-muffins{
         display: block;
         margin:auto;
         margin-top:38px;
         margin-bottom: 15px;
         height: 40px;
         width: 120px;
      
            &:hover{
             background-color: #C7D7C6;
            } 
        }
        
    }
    
    
    .postre6 {
        grid-area: postre6;
        justify-self: center;

        #boton-tlimon{
         display: block;
         margin:auto;
         margin-top:2px;
         margin-bottom: 15px;
         height: 40px;
         width: 120px;
      
            &:hover{
             background-color: #C7D7C6;
            } 
        }
        
    }
    
    .postre7 {
        grid-area: postre7;
        justify-self: center;

        #boton-tarts{
         display: block;
         margin:auto;
         margin-top:38px;
         margin-bottom: 15px;
         height: 40px;
         width: 120px;
      
            &:hover{
             background-color: #C7D7C6;
            } 
        }
    }       
}

@media (min-width: 1250px) and (max-width: 1800px) {
    .postres-productos {
        grid-template-areas: 
        "titulo-postres titulo-postres titulo-postres titulo-postres"
        "foto-postres foto-postres postre1 postre2"
        "foto-postres foto-postres postre3 postre4"
        "none none postre6 postre7"; 
    }
}

@media (min-width: 780px) and (max-width: 1249px) {
    .postres-productos {
     grid-template-areas: 
     "titulo-postres titulo-postres"
     "foto-postres foto-postres" 
     "postre1 postre2"
     "postre3 postre4"
     "postre6 postre7";
     grid-template-columns: 50% 50%;
     grid-template-rows: 100px auto auto auto;
     grid-column-gap: 20px;
     
    }
}

@media (min-width: 320px) and (max-width: 779px) {
    .postres-productos {
     
     grid-template-areas: 
     "titulo-postres"
     "foto-postres" 
     "postre1" 
     "postre2"
     "postre3"
     "postre4"
     "postre6"
     "postre7";
     grid-template-columns: 100%;
     grid-template-rows: auto auto auto auto auto auto auto auto;
    
    }
}



.titulo-principal-postres {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem; 
    text-align: center; 
    color: #412611;
    
}

@media (min-width: 320px) and (max-width: 779px) {
    .titulo-principal-postres{
     font-size: 0.8rem;
    }
}

.descripcion-postres {
    font-size: 0.8rem; 
    text-align: justify; 
    margin: 10px;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    color: rgba(0,0,0,0.87);   
}

@media (min-width: 320px) and (max-width: 779px) {
    .descripcion-postres {
      font-size: 0.6rem; 
      padding: 5px;
    }
}

.precio-postres {
    text-align: center; 
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem; 
    margin-top: 1px;
}


@media (min-width: 320px) and (max-width: 779px) {
    .precio-postres {
        font-size: 0.7rem;
    }
}

.img-postres {
    width: 100%; 
    padding: 15px;
}

.boton-comprar-postres {
  border: 1px solid #bf743c;
  color:  #412611;
  cursor: pointer; 
  font-family: 'Roboto Slab', serif;
  font-size: 0.9rem;
  border-radius: 10%;
}

@media (min-width: 320px) and (max-width: 600px) {
    .boton-comprar-postres{
      font-size: 0.7rem;
    }
}
 
.postres-general {
    height: 550px;
    width: 320px;
    border: 1px solid #412611;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: 0px 1px 15px;
    transition: all 400ms ease;
}

.postres-general:hover {
    transform: translatey(-3%);
}

@media (min-width: 320px) and (max-width: 779px) {
    .postres-general {
        height: auto;
        width: 260px;
    }
}
